*{
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: #021373;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}


header {
    width: 100%;
    height: 70px;
    background-color: #021373;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 40%;
    transition: transform 0.2s;
}

.logo:hover {
    transform: scale(1.05);
}

nav {
    display: flex;
}

.menu {
    list-style: none;
    display: flex;
    gap: 15px; /*o gap é os espaços entre as linhas e colunas*/
}

.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: transform 0.2s, background-color 0.2s;
}

.menu li a:hover {
    transform: scale(1.05);
    background-color: #fFE33E;
}
   h1 {
    color: #ffffff;
    text-align: center;
    margin: 30px 0;
    font-size: 2em;
   }
   .card {
    flex: 1 1 300px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: white;
    transition: transform 0.2s;
    margin-bottom: 2vh;
    }
   .card:hover {
    transform: translateY(-10px);
   }
   .card-header {
    height: 200px;
   }
   .card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
   }
   .card-body {
    padding: 20px;
   }
   .card-title {
    
    margin-bottom: 10px;
    color: #333;
   }
   .card-text {
    font-size: 1em;
    margin-bottom: 20px;
    color: #666;
   }
   .card-body a {
    display: inline-block;
    background-color: #ffe33e;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s;
   }
   .card-body a:hover {
    background-color: #ffe33e;
   }