*{
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: #f4f7f6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}


header {
    width: 100%;
    height: 70px;
    background-color: #021373;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 40%;
    transition: transform 0.2s;
}

.logo:hover {
    transform: scale(1.05);
}

nav {
    display: flex;
}

.menu {
    list-style: none;
    display: flex;
    gap: 15px; /*o gap é os espaços entre as linhas e colunas*/
}

.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: transform 0.2s, background-color 0.2s;
}

.menu li a:hover {
    transform: scale(1.05);
    background-color: #fFE33E;
}

.titulo{
    text-align: center;
}


.perfil {
    max-width: 800px;
    margin: auto;
    padding: 1rem;
    background-color: #fFE33E;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.perfil-cabecalho {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.perfil-foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 2rem;
}

.perfil-info {
    flex: 1;
}

.perfil-info h1 {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    
}

.perfil-info p {
    font-size: 1.2rem;
    
}

.perfil-detalhes h2 {
    margin-top: 2rem;
    font-size: 1.5rem;
    
}

.perfil-detalhes p {
    margin-top: 0.5rem;
    
}

@media (max-width: 768px) {
    .perfil-cabecalho {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .perfil-foto {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .perfil-info h1 {
        font-size: 1.5rem;
    }

    .perfil-info p {
        font-size: 1rem;
    }

    .perfil-detalhes h2 {
        font-size: 1.2rem;
    }
}
.circulo h1{
    text-align: center;
}
.curriculo {
    max-width: 800px;
    height: auto;
    margin: auto;
    padding: 1rem;
    background-color: #fFE33E;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.projetos h1{
    text-align: center;
}