body {
    background-color: #2E5076;
    color: #ffffff;
  }
  .container {
    margin-top: 50px;
    text-align: center;
  }
  .logo {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }
  .btn-custom {
    background-color: white;
    color: #2E5076;
    margin-top: 1vh;
  }
